.sidebar__nav {
    z-index: -1;
    background-color: blue;
    top: -100vh;
    height: 100vh;    
    width: 100vw;
    position: fixed;

    @media (max-width: $breakpoint-medium) {
        left: -100%;
        width: 100%;
    }

    &.open {
        top: 0px;
        transition: 1s;
    }
        
    &.close {
        transition: 1s;
    }
}

// .menu {
//     background-color: $Red;
//     left: -300px;
//     width: 300px;
//     height: 100vh;
//     position: fixed;
//     top: 0;

//     @media (max-width: $breakpoint-medium) {
//         left: -100%;
//         width: 100%;
//     }

//     &.open {
//         left: 0px;
//         transition: .5s;
//     }

//     &.close {
//         transition: .5s;
//     }
// }