.sidebar__nav {
    z-index: -1;
    background-color: blue;
    top: -100vh;
    height: 100vh;    
    width: 100vw;
    position: fixed;
    transition: 1s;

    @media (min-width: $breakpoint-large-2) {
        left: -100%;
        width: 100%;
    }

    &.open {
        top: 0px;
        transition: 1s;
    }
        
    // &.close {
    //     transition: 1s;
    // }
}

