// font: 
$title-font-family: 'Dancing Script', cursive;

// colors:

$pink: #ebd4dc;
$black: #000;


// Breakpoints
$breakpoint-small:450px;
$breakpoint-medium: 500px;
$breakpoint-large: 800px;
$breakpoint-large-2: 900px;
$breakpoint-extra-large: 1200px;


// Fonts (family, size)
$font-size: 16px;
$font-size-medium: 18px;
$font-size-large: 30px;